.logo{
    width: 15%;
    height: 40%;
    border-radius: 20%;
    
}
.navbar{
    background-color: rgb(141, 97, 96);
   
}
.navigacija{
    padding-top: 6px;
    padding-bottom: 6px;
}
.levo{
    background-color: rgb(207, 193, 192);
    height: 585px;
    font-size: 20px;
}

.nasl{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
}

.naslov{
    font-family: "Calibri", "Calibri Light", monospace;
    font-size: 40px;
    font-style: italic;
    align-items: center;
    margin-right: 200px;
    color: white;
}

.nn{
    font-size:20px;
    width: 150px;
    padding: 8px;
}
.nn:hover{
    font-weight: bold;
}

.nav-link{
    font-size: 20px;
    font-family: "Calibri", "Calibri Light", monospace;
}
.centar{
    background-color: #f9c2dd;
    height: 585px;
}

.forum{
    font-family: "Calibri", "Calibri Light", monospace;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    align-items: center;
    margin-right: 200px;
    color: rgb(141, 97, 96);
    padding-left: 20px;
}

.tabela{
    padding-left: 10px;
    padding-right: 10px;
}

.zaglavlje{
    color: rgb(141, 97, 96);
}

.tekst{
    font-size: 12px;
    font-family: "Calibri", "Calibri Light", monospace;
    align-items: center;
    vertical-align: middle;
}

.tekst2{
    font-size: 12px;
    vertical-align: middle;
}

.slika{
    vertical-align: middle;
}

.slikaFuter{
    width: 20px;
    height: 20px;
}

.futer{
    height: 35px;
    background-color: rgb(141, 97, 96);
    padding-top: 5px;
    font-family: "Calibri", "Calibri Light", monospace;
}
